#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "The greatest notebook application. Period."
		%p.name - Barack Obama
#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-github
				%h2= link_to "GitHub", "https://github.com/kz777"
				%p I love GitHub. I use it for websites and for blog post code. I love the website, I love the tools, I love the apps. I love that it’s in the cloud and I can get to it from anywhere with an internet connection.

			.callout
				%i.fa.fa-linkedin
				%h2= link_to "Linkedin", "https://www.linkedin.com/in/aslanussayev"
				%p You have the opportunity to reach other professionals from around the world – senior leaders, potential clients, employers, partners, mentors and more – the people that can impact your bottom line or have an impact on your career.

			.callout
				%i.fa.fa-envelope-o
				%h2= link_to "email", "mailto:usprof777@gmail.com"
				%p Email is a low-cost, high-return medium that appeals to businesses. For web designers, there’s the opportunity to add email design to their services and give clients another way to reach their goals.
#bottom_cta
	.wrapper
		%h2 For Realz!
		%p Sign up and Enjoy the App!
		%button= link_to "Click Meee!!!", new_user_registration_path

%footer
	%p © 2015 Aslan Ussayev